.G-fr {
    display: block;
    font-family: Liberation Serif, serif;
    font-size: 0.70588em;
    height: 22.902cm;
    left: 1.325cm;
    position: static;
    top: 0.621cm;
    width: 14.96cm;
    padding: 0;
    margin: 0
    }
.L {
    display: block;
    list-style-type: disc;
    padding: 0 0 0 2em;
    margin: 1em 0
    }
.P-P {
    display: block;
    font-family: Liberation Sans, sans-serif;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    page-break-before: always;
    padding: 0;
    margin: 0.423cm 0 0.212cm
    }
.P-P1 {
    color: #000;
    display: block;
    font-family: "Liberation Serif";
    font-size: 1.41667em;
    font-variant: normal;
    font-weight: bold;
    line-height: 1.2;
    page-break-before: always;
    padding: 0;
    margin: 0.353cm 0 0.212cm
    }
.P-P2 {
    display: block;
    font-family: Liberation Serif, serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    padding: 0;
    border: currentColor none medium;
    margin: 0
    }
.P-P3 {
    display: block;
    font-family: Liberation Serif, serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    padding: 0;
    border: currentColor none medium;
    margin: 0
    }
.P-P4 {
    display: block;
    font-family: Liberation Serif, serif;
    font-size: 1em;
    line-height: 1.2;
    text-align: left;
    padding: 0;
    border: currentColor none medium;
    margin: 0 0 0.247cm
    }
.P-P5 {
    display: block;
    font-family: Liberation Serif, serif;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 0;
    padding: 0;
    margin: 0 0 0.247cm
    }
.P-P6 {
    display: block;
    font-family: Liberation Serif, serif;
    font-size: 1em;
    line-height: 1.2;
    text-indent: 0;
    padding: 0;
    margin: 1em 0
    }
.P-Standard {
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    padding: 0;
    margin: 1em 0
    }
.P-Text20body {
    display: block;
    font-family: "Liberation Serif", serif;
    font-size: 1em;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 0.247cm
    }
.S-T {
    color: #222;
    font-family: sans-serif, sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: underline;
    padding: 0;
    margin: 0
    }
.S-T1 {
    color: #0b0080;
    font-variant: normal;
    line-height: 1.2;
    text-decoration: underline;
    padding: 0;
    margin: 0
    }
.S-T2 {
    color: #222;
    font-variant: normal;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.S-T3 {
    color: #222;
    font-family: sans-serif, sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    padding: 0;
    margin: 0
    }
.S-T4 {
    color: #222;
    font-family: sans-serif, sans-serif;
    font-size: 0.75em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    padding: 0;
    margin: 0
    }
.S-T5 {
    color: #0b0080;
    font-family: inherit, sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    padding: 0;
    margin: 0
    }
.S-T6 {
    color: #0b0080;
    font-family: sans-serif, sans-serif;
    font-size: 0.75em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    padding: 0;
    margin: 0
    }
.S-T7 {
    color: #0b0080;
    font-variant: normal;
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.calibre {
    display: block;
    font-size: 1em;
    padding: 0;
    margin: 0 5pt
    }
.calibre1 {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    padding: 0;
    margin: 0
    }
.calibre2 {
    line-height: 1.2;
    padding: 0;
    margin: 0
    }
.calibre3 {
    display: list-item;
    padding: 0;
    margin: 0
    }
.calibre4 {
    display: block;
    padding: 0;
    margin: 0
    }
.calibre5 {
    display: block;
    font-family: Liberation Serif, serif;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    page-break-before: always;
    padding: 0;
    margin: 0.353cm 0 0.212cm
    }
