<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>ODT to books converter</title>
    </head>
    <h2>ODT to books converter</h2>
    
    <body>
        <form  action="/new" enctype = "multipart/form-data" method="POST">
            <label>Book Title </label><input type="text" name="book_title" placeholder="book_title"><br>
            <label>Book title in english </label><input type="text" name="eng_title"  placeholder="book_title_in_english"><br>
            <label>Author </label><input type="text" name="author" placeholder="author"><br>
            <label>Author mail </label><input type="text" name="author_mail" placeholder="author_mail"><br>
            <label>Translator </label><label>Book Title </label><input type="text" name="translator" placeholder="translator"><br>
            <label>Translator mail </label><input type="text" name="translator_email" placeholder="translator_email"><br>
            <label>Cover image</label><input type="file" name="cover_image" placeholder="cover_image"><br>
            <label>Artist </label><input type="text" name="artist" placeholder="artist"><br>
            <label>Artist email </label><input type="text" name="artist_email"  placeholder="artist_email"><br>
            <label>Ebook Maker </label><input type="text" name="ebook_maker" placeholder="ebook_maker"><br>
            <label>Ebook maker mail </label><input type="text" name="ebook_maker_email" placeholder="ebook_maker_email"><br>
            <label>License </label><input type="text" name="license" placeholder="license"><br>
            <label>Content </label><input type="file" name="content" placeholder="content"><br>
            <label>Category </label><input type="text" name="category" placeholder="category"><br>
            <button>Submit</button>
        </form>
        
    </body>
    
</html>